

html {
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(36,86,135,1) 100%);
    background-attachment: fixed;
}

header, main {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(240,245,251,1) 100%);
    margin: 17.5vh 11vw;
    box-shadow: 0 0 10px #244977;
}

header {
    height: 65vh;
}

h1 {
    text-align: center;
    padding: 15.22vh 7.32vw;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    text-shadow: 2px inset;
    font-size: 2.3em;
}

figure[id] {
    display: block;
    text-align: center;
}

li {
    list-style-type: none;
    display: inline-block;
    margin: 0 2.196vw;
    background-color: white;
    padding: 1.464vw 3.044vh;
    box-shadow: 0 0 5px #244977;
    font-family: 'Source Sans Pro', sans-serif;
}

li:hover {
    box-shadow: 0 0 5px #244977 inset;
}

ul {
    text-align: center;
    padding: 0;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    padding-bottom: 3.044vh;
    text-align: center;
}

section {
    padding: 3.044vh;
}

video {
    width: 51.24vw;
    display: block;
    margin: 30px auto;
}

footer {
    padding-bottom: 50px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

#Sources p {
    padding-left: 30px;
    text-indent: -30px;
}

#vestibularLabyrinth img {
    width: 50%;
    margin: 30px;
}

#innerEar img {
    width: 50%;
    margin: 30px;
}
