
html {
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(36,86,135,1) 100%);
    background-attachment: fixed;
}

header, main {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(240,245,251,1) 100%);
}

header {
    margin: 17.5vh 11vw;
    -webkit-box-shadow: 0 0 10px #244977;
        box-shadow: 0 0 10px #244977;
    height: 65vh;
}

main {
    margin: 100px 150px;
    -webkit-box-shadow: 0 0 10px #244977;
        box-shadow: 0 0 10px #244977;
}

h1 {
    text-align: center;
    padding: 100px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    text-shadow: 2px inset;
    font-size: 2.3em;
    
}

figure[id] {
    display: inline;
}

li {
    list-style-type: none;
    display: inline-block;
    margin: 0 30px;
    background-color: white;
    padding: 20px;
    -webkit-box-shadow: 0 0 5px #244977;
        box-shadow: 0 0 5px #244977;
    font-family: 'Source Sans Pro', sans-serif;
}

li:hover {
    -webkit-box-shadow: 0 0 5px #244977 inset;
        box-shadow: 0 0 5px #244977 inset;
}

ul {
    text-align: center;
}

ul a {
    text-decoration: none;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    padding-bottom: 20px;
    text-align: center;
}

section {
    padding: 30px;
}

video {
    width: 700px;
    display: block;
    margin: 30px auto;
}

footer {
    padding-bottom: 50px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

#Sources p {
    padding-left: 30px;
    text-indent: -30px;
}